/*notebooks*/
@media (min-width: 62em) {

    /*Bg-imgs*/

    .bg-img-home {
        background: url(./assets/home/background-home-desktop.jpg) no-repeat;
        background-size: 100% 100%;
    }


    .bg-img-tec {
        background: url(./assets/technology/background-technology-desktop.jpg) no-repeat;
        background-size: 100% 100%;
    }


    .bg-img-crew {
        background: url(./assets/crew/background-crew-desktop.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .bg-img-destination {
        background: url(./assets/destination/background-destination-desktop.jpg) no-repeat;
        background-size: 100% 100%;
    }

    /*navBar*/
    #pad-top {
        padding-top: .5em;
        padding-left: 1.3em;
    }

    #start-logo {
        margin-top: 1em;
    }

    .nav-bar,
    .nav-bar.active {
        position: absolute;
        top: 1.5rem;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 55%;
        height: 75%;
        padding-left: 12%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(2.5px);
        border: 1px solid rgba(255, 255, 255, 0.02);
    }


    .nav-item {
        padding: .5em 1em;
        font-size: 1em !important;
    }

    .nav-item.active::after {
        top: 3.7rem;
        right: 0;
    }

    .divider {
        content: '';
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 4rem;
        left: 6rem;
        width: 45%;
        z-index: 3;
        height: 1px;
        opacity: .5;
        background-color: #D0D6F9;
    }

    /*home*/

    .bg-img-home {
        background: url(./assets/home/background-home-desktop.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .text-center {
        text-align: left;
    }

    .Home-space {
        position: relative;
        top: 18rem !important;
        padding: 0 4rem;
    }

    .Home-space .sub--space--text {
        font-size: 1.1em;
        width: 50%;
    }


    .space--title {
        font-size: 1.5em;
        margin-left: -17px;
    }

    .space--sub--title {
        font-size: 7em;
        margin-left: -5px;
        margin-bottom: -.1rem;
    }

    .Home-space {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 17rem;
    }

    .bubble {
        top: -5rem;
        left: -5rem;

        transform: scale(1.5);
    }

    .bubble-area {
        position: relative;
        top: 25px;
        left: -10%;
    }

    .bubble:hover::after {
        top: -22%;
        left: -22.5%;
        width: 210px;
        height: 210px;
        transform: scale(1.0);
    }

    /*Destination*/

    .bg-img-destination {
        background: url(./assets/destination/background-destination-desktop.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .info {
        position: relative;
        top: -29rem;
        left: 38rem;
        width: 52%;
        transform: scale(0.8);
    }

    #Destination .planent--title {
        position: relative;
        top: 17.5%;
        left: 7.1% !important;
    }

    .destination-information {
        padding-right: 5.5rem;
    }


    .Destination--planent .info {
        padding: 7.5em 5rem;
    }

    .link-item {
        font-size: 1.2em;
    }

    .navegation {
        position: relative;
        top: -5%;
        left: 1%;
    }

    .info>.planent-name {
        font-size: 6.5em;
        margin-top: .7em;
        font-weight: 200;
    }

    .destinations-info {
        max-width: 65%;
        width: 55%;
    }

    .destinations-info>.planet {
        position: relative;
        top: 5.5rem !important;
        left: -5rem;
        width: 64%;
    }

    .nav-planents {
        position: absolute;
        top: 10rem;
        left: 14.5rem;
    }

    .planent--information {
        font-size: 1.1em !important;
    }

    .planent--information::after {
        margin: 1.4em 0;
    }

    .destination-information {
        flex-direction: row;
        justify-content: space-between;
    }

    .travel-days {
        margin-top: .7em;
    }


    /*Crew*/

    .Slider-Item {
        position: absolute;
        top: 15%;
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }


    .space-man {
        display: block;
        position: relative;
        left: 10%;
        max-width: 500px;
        height: auto;
        padding: 4em;
    }


    .crew--title {
        top: 5.5em;
        font-size: 1.5em;
        text-align: left;
        padding-left: 87px;
    }



    .Crew-MemberImage {
        display: flex;
        justify-content: center;
        height: 75%;
    }

    .member-job {
        font-size: 1.7em;
    }

    .member-name {
        font-size: 3em;
    }

    .Crew-info {
        position: relative;
        top: -.9em;
        padding: 1rem 4em;
    }

    .member-information {
        font-size: .9em;
        line-height: 25px;
        width: 500px;
        padding: 0;
    }


    .btn-nav {
        display: flex;
        justify-content: flex-start;
        left: 55px;
        top: 80.5% !important;
    }

    .btn-item-crew {
        width: 15px;
        height: 15px;
        border: none;
        border-radius: 50px;
        background-color: #fff;
        margin: 0 .5em;
    }

    .mobile {
        display: none;
    }

    .desk {
        display: block;
    }

    .slide-image-item>.full {
        position: absolute;
        top: -1rem;
        right: 0;
        width: 450px;
        height: 70vh;

        object-fit: contain;
    }

    .tec--title {
        top: 17%;
        left: 11%;
        font-size: 1.5em;
    }


    .tac-line {
        position: absolute;
        width: 100%;
        height: 75vh;
        top: -10rem;
        left: 7em;
        margin: 1em auto;
        flex-direction: column;
    }


    .tac-slider-item {
        margin: 1em 1em;
        width: 75px;
        height: 75px;
        font-size: 1.7em;
        padding: .55em 1em;
        border-radius: 50px;
        background-color: transparent;
        border: 1px solid #D0D6F9;
    }



    .card-content-title {
        position: relative;
        top: -1em;
        width: 500px;
        font-size: 3em;
        line-height: 75px;
        margin: 1em 0;
        padding: 0;
    }

    .card-content-text {
        font-size: 1.2em;
        line-height: 25px;
        margin-top: -70px;
        margin-left: 0 !important;
        padding: 0 !important;
    }


    .card-content {
        position: relative;
        left: 23%;
        text-align: left;
        justify-content: flex-start;
        top: 4.5rem;
        width: 40%;
        height: 50vh;
        padding: 1em 2rem;
    }


}
/*Large devices*/
@media (min-width:90em) {


    .nav-bar,
    .nav-bar.active {
        width: 55%;
        padding-left: 15%;
    }

    /*Home*/

    .Home-space {
        top: 28rem !important;
    }

    .space--title {
        font-size: 2em;
    }

    .space--sub--title {
        font-size: 8em;
    }

    .Home-space .sub--space--text {
        width: 47%;
    }

    /*Bubble*/


    .bubble {
        transform: scale(2.0);
    }

    .bubble-area {
        top: -25px;
    }

    /*Destination*/

    .destinations-info>.planet {
        top: 10.5rem !important;
        width: 74%;
    }

    .nav-planents {
        top: 17rem;
    }


    .info {
        top: -25rem;
        left: 40rem;
    }

    /*Crew*/

    .Slider-Item {
        top: 14%;
    }

    .Crew-info {
        top: -1.5em;
        left: 5em;
        padding: 1rem;
    }

    .btn-nav {
        left: 90px;
    }

    .btn-item-crew {
        margin: 0 1.2em;
        transform: scale(1.2);
    }

    /*Tec*/


    .slide-image-item>.full {
        width: 500px;
    }

    .card-content {
        left: 17%;
        top: 10.5rem;
    }



}