* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

body {
    color: #fff;
    font-family: "Barlow", sans-serif;
}

/*Home pagine and background*/

#Home {
    background: url(./assets/home/background-home-mobile.jpg) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

/*Home information*/

.Home-space {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 1em;
}

.Home-space .space--title {
    font-size: clamp(1.3em, 1.7em, 2em);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0 1em;
    margin-bottom: 1.5em;
}

.Home-space .sub--space--text {
    
    letter-spacing: 4px;
    line-height: 25px;
    opacity: .7;
    padding: 0 1em;
}

.space--sub--title {
    margin-top: -5%;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 30px;
}


/*bubble*/

.bubble {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
}

/*light animation*/

@keyframes light {
    from {
        box-shadow: -3px 4px 109px -4px rgba(134, 134, 134, 0);
    }

    to {
        box-shadow: -3px 4px 109px -4px rgba(237, 230, 230, 0.75);
    }
}

.bubble:hover {
    animation: light ease-in-out 1s;
    box-shadow: -3px 4px 109px -4px rgba(237, 230, 230, 0.75);
}

.bubble-title {
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: clamp(1em, 1.2em, 1.5em);
    color: #000;
    opacity: .7;
}

#Destination {
    background: url(./assets/destination/background-destination-mobile.jpg) no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

/*nav*/

.expandend-nav--bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    width: 100vw;
    z-index: 1;
}

.space {
    position: absolute;
}

.divider {
    display: none;
    width: 55%;
    height: 2px;
    margin-right: -45px;
    padding: 0 1em;
    background-color: aqua;
}

.menu {
    border: none;
    background: transparent;
}

.menu img {
    width: 30px;
}

.nav-bar {
    display: none;
    position: absolute;
    top: 7rem;
    left: -100px;
}

/*Nav animation*/

@keyframes loadNav {
    from {
        position: absolute;
        top: 7rem;
        left: -400px;
    }

    to {
        position: absolute;
        top: 7rem;
        left: 0px;
    }
}

.nav-bar.active {
    position: absolute;
    top: 7rem;
    left: 0;
    animation: loadNav ease-in .5s;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 81vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.02);
}

/*
.nav-bar {
    position: absolute;
    top: 15%;
    left: 0;
    display: flex;
    align-items: center;
   
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.02);
    }
    
*/


#start-logo {
    max-width: 100%;
    margin: 0 1em;
}


/*.nav-item:first-child {
    padding-left: 10%;
}*/


.nav-item:first-child {
    padding-top: 3em;
}

.nav-bar .nav-item.active:nth-child(odd) {
    width: 27%;
}

.nav-bar .nav-item.active:nth-child(even) {
    width: 50%;
}

.nav-bar .nav-item {
    margin: 1.3em 1.5em;
    font-size: clamp(.5em, 1.2em, 1.5em);
}

.nav-item.active {
    padding-bottom: 1em;
    border-bottom: 2px solid white;
}


/*Destination page*/



@media (min-width:23em) {

    .Home-space {
        top: 30%;
    }

    .Home-space .space--title {
        font-size: clamp(1.3em, 1.7em, 2em);
        padding: 0 2em;
    }

    .Home-space .sub--space--text {
        line-height: 25px;
        padding: 0 3em;
    }

    .bubble {
        margin: 2em auto;
        width: 175px;
        height: 175px;
    }

}

@media (min-width:64em) {
    
    #Home{
        background: url(./assets/home/background-home-tablet.jpg) no-repeat ;   
    }

  
    .Home-space {
        position: relative;
        top: 5%;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 0 2.1em;
    }

    
.Home-space .space--title {
    font-size: 1.2em;
    min-width: 100%;
    padding: 0 2em 0 0;
    margin-bottom: .2em;
}

.Home-space .sub--space--text {
    width: 67%;
    padding: 0 .5em;
}

.bubble {
    position: relative;
    top: 35%;
    left: -45%;
    transform: scale(2);
}

.space--sub--title {
    margin-top: 0;
    margin-left: -4px;
    text-transform: uppercase;
    font-size: 8em !important;
    font-weight: 300;
    margin-bottom: 30px;
}

}

@media (max-width: 90em) {

    .Home-space {
        position: relative;
        top: 33%;
    }

    #Home {
        background: url(./assets/home/background-home-desktop.jpg) ;
            
    }

    

        
.Home-space .space--title {
    font-size: 2em;
    width: 65%;
    padding: 0 2em 0 0.1em;
    margin-bottom: .5em;
}

.Home-space .sub--space--text {
    min-width:50%;
    line-height: 27px;
    font-size: 1.5em;
}

.bubble {
    position: relative;
    top: 45%;
    left: -55%;
    transform: scale(1.7);
}


.space--sub--title {
    margin-top: -2%;
    font-size: 11.5em;
    font-weight: 300;
    margin-bottom: 30px;
}
    
}