
@media (min-width:37.5rem) {

    #pad-top {
        padding-top: 0em;
    }

    .bg-img-home {
        background: url(./assets/home/background-home-tablet.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .menu-open,
    .menu-close {
        display: none;
    }

    .nav-bar,
    .nav-bar.active {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 85%;
        height: 80%;
        padding-left: 12%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(2.5px);
        border: 1px solid rgba(255, 255, 255, 0.02);
    }

    .nav-item.active::after {
        content: '';
        display: block;
        position: absolute;
        top: 3.2rem;
        right: 0;
        width: 100%;
        height: 2.5px;
    }

    .nav-item {
        font-size: 1em !important;
    }

    .nav-item.active {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*bubble*/


    .bubble-area {
        position: relative;
        top: 80px;
    }

    .bubble {
        transform: scale(1.1);
    }

    .bubble:hover::after {
        top: 9%;
        left: 5%;
        transform: scale(1.6);
    }

    /*planents*/

    #Destination .planent--title {
        text-align: left;
        font-size: 1.3em;
        top: 15%;
        padding-left: 25px;
    }


    .nav-planents {
        position: relative;
        top: 32.5rem;
        left: 0 ;
        width: 100% !important;
    }

    .info {
        position: relative;
        top: 7rem;
    }
    
    .destinations-info {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .destinations-info>.planet {
        position: relative;
        justify-content: center;
        top: 5rem !important;
        margin: 0 10.5%;
        max-width: 75%;
        width: 60%;
    }

    .crew--title {
        left: 0;
        font-size: 1.3em;
        text-align: left;
        padding-left: 25px;
    }

    
    .bg-img-destination {
        background: url(./assets/destination/background-destination-tablet.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .bg-img-crew {
        background: url(./assets/crew/background-crew-tablet.jpg) no-repeat;
        background-size: 100% 100%;
    }


}

@media (min-width:40.625em) {
    
    .nav-planents {
        position: relative;
        top: 36rem;
        left: 0;
    }

    #Destination .planent--title {
        text-align: left;
        font-size: 1.3em;
        top: 10%;
        padding-left: 25px;
    }

    .tac-line {
        top: 17rem;
    }



    .info {
        padding: 0 8rem !important;
    }

}

@media (min-width:43.75em) {
    
    .destinations-info>.planet {
        position: relative;
        justify-content: center;
        top: 1rem !important;
        margin: 0 10.5%;
        max-width: 75%;
        width: 60%;
    }
 

}

@media (min-width:52.375em)  {

    .nav-planents {
        top: 37.5rem;
        left: 0 ;
    } 

}









/*

@media (min-width:37.5rem) {


    

    #pad-top {
        padding-top: 0em;
    }

    .bg-img-home {
        background: url(./assets/home/background-home-tablet.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .menu-open,
    .menu-close {
        display: none;
    }

    .nav-bar,
    .nav-bar.active {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 85%;
        height: 80%;
        padding-left: 12%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.5px);
        -webkit-backdrop-filter: blur(2.5px);
        border: 1px solid rgba(255, 255, 255, 0.02);
    }

    .nav-item.active::after {
        content: '';
        display: block;
        position: absolute;
        top: 3.2rem;
        right: 0;
        width: 100%;
        height: 2.5px;
    }


    .nav-item {
        font-size: 1em !important;
    }

    .nav-item.active {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .Home-space {
        position: relative;
        top: 17%;
    }

    .Home-space .space--title {
        font-size: 1.5em;
        padding: 1em;
        margin-bottom: .1em;
    }

    .Home-space .sub--space--text {
        font-size: 1.1em;
        padding: 0 2rem;
        letter-spacing: 1px;
        line-height: 30px;
        margin: 1em 0;
    }

    .space--sub--title {
        margin-top: 1em auto;
        font-size: 6em;
        margin-bottom: 0;
    }

    .bubble {
        margin: 3em auto 0 auto;
        width: 200px;
        height: 200px;
    }

    .bubble:hover::after {
        top: -5%;
        left: -3.5%;
        width: 215px;
        height: 215px;
        transform: scale(1.2);
    }


    .bg-img-destination {
        background: url(./assets/destination/background-destination-tablet.jpg) no-repeat;
        background-size: 100% 100%;
    }

    #Destination .planent--title {
        position: relative;
        top: 12.5%;
        margin-top: 1.2em;
        font-size: 1.4em;
    }

    .Destination--planent .info {
        padding: 7.5em 5rem;
    }

    .link-item {
        font-size: 1.2em;
    }

    .navegation {
        position: relative;
        top: -1%;
        left: -2%;
    }

    .info>.planent-name {
        font-size: 6.5em;
        margin-top: .7em;
        font-weight: 200;
    }

    .destinations-info {
        width: 75%;
    }

    .destinations-info>.planet {
        position: relative;
        top: 4rem;
        left: 5rem;
        width: 75%;
    }

    .nav-planents {
        position: absolute;
        top: 27rem;
        left: 10rem;
    }

    .planent--information {
        font-size: 1.1em !important;
    }

    .planent--information::after {
        margin: 1.4em 0;
    }

    .destination-information {
        flex-direction: row;
        justify-content: space-between;
    }

    .travel-days {
        margin-top: .7em;
    }


    .bg-img-crew {
        background: url(./assets/crew/background-crew-tablet.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .btn-item-crew {
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50px;
        background-color: #fff;
        margin: 0 .7em;
    }


    .crew--title {
        top: 15%;
        font-size: 1.1em;
        left: 5%;
    }



    #number-space-crew {
        margin-right: .7em;
    }

    .Crew-info {
        font-size: 1.3em;
        margin-top: -2.5em;
        padding: 2em 4rem;
    }

    .member-information {
        font-size: .7em;
        line-height: 25px;
    }

    .member-job {
        margin-top: 1em;
        font-size: 1.3em;
        font-weight: lighter;
    }

    .btn-nav {
        top: 45% !important;
        left: 33.5%;
    }


    .Crew-MemberImage {
        position: relative;
        top: -10%;
        height: 50%;
    }

    .space-man {
        width: 65%;
        top: 8em;
        left: 17%;
    }

    .fix-space {
        top: 10rem;
    }


    .fix-man {
        left: 18%;
        top: 7em;
    }




    .slide-image-item>.full {
        position: relative;
        top: 2rem;
        width: 100%;
        height: 50%;
    }

    .tac-line {
        position: absolute;
        top: 13.5rem;
        left: 30%;
    }


    .card-content {
        font-size: 1em;
        position: relative;
        top: 3.5em;
        padding: 1em 4rem;
    }


    .tec--title {
        top: 12% !important;
        left: 3%;
    }


    .card-content-title {
        font-size: 1.7em;
        line-height: 35px;
    }

    .card-content-text {
        font-size: 1.2em;
        line-height: 35px;
    }
}


@media (min-width:48em) {

    .nav-item.active::after {
        content: '';
        display: block;
        position: absolute;
        top: 3.2rem;
        right: 0;
        width: 100%;
        height: 2.5px;
    }


    .Destination--planent .info {
        padding: 4.5em 5rem;
    }

    #Destination .planent--title {
        font-size: 1.2em;
    }


    .nav-planents {
        position: absolute;
        top: 30.5rem;
        left: 13rem;
    }

    .navegation>ul li {
        font-size: 1.2em;
        z-index: 4;
        letter-spacing: 1px;
        margin: 0 .7em;
    }

    .info>.planent-name {
        margin-top: .9em;
    }

    .destinations-info {
        width: 65%;
    }

    .destinations-info>.planet {
        top: 5.5rem;
        left: 5rem;
    }


    .crew--title {
        top: 15%;
        font-size: 1.2em;
        left: 5%;
    }

    .Crew-info {
        font-size: 1.4em;
        margin-top: -1.5em;
    }


    .btn-nav {
        top: 45%;
        left: 36.5%;
    }

    .btn-item-crew {
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50px;
        background-color: #fff;
        margin: 0 .7em;
    }


    .tac-line {
        position: absolute;
        top: 17rem;
        left: 31%;
    }

    .tac-slider-item {
        margin: 0 1.3em;
        width: 50px;
        height: 50px;
    }

    .card-content-title {
        padding: 0 10rem;
        margin: 1em 0;
        font-size: 1.7em;
        line-height: 35px;
    }


}
*/